
<% if logged_in? %>
  <p class='pull-right'>
     [<%= link_to 'Edit Post', edit_post_path(@post) %>]
  </p>
<% end %>

<p>
  <%= render @post.categories %>
</p>

<%= render 'shared/title', title: @post.title %>

<p><%= @post.description %></p>

<%= render 'shared/errors', form_object: @comment %>

<% if logged_in? %>
  <div class='well'>
    <%= form_for [@post, @comment] do |f| %>
    <div class='control-group'>
      <%= f.label :body, 'Leave a comment' %>
      <%= f.text_area :body, rows: 3, class: 'span4' %>
    </div>
    <div class='control-group'>
      <%= f.submit 'Create Comment', class: 'btn btn-primary'%>
    </div>
    <% end %>
  </div>
<% end %> 

<h5>Comments:</h5>
<p>

  <% @post.comments.sort_by{|x| x.total_votes}.reverse.each do |c| %>
    <div class='row'>
      <div class='well span0 text-center'>
        <%= link_to vote_post_comment_path(c.post,c, vote: true), method: 'post' do %>
          <i class='icon-arrow-up'></i>
        <% end %>
        <br>
        <%= "#{c.total_votes} votes" %>
        <br>
        <%= link_to vote_post_comment_path(c.post,c, vote: false), method: 'post' do %>
          <i class='icon-arrow-down'></i>
        <% end %>
      </div>
      <div class='well span8'>
        <em>"<%= c.body %>"</em><br>
        <span class='quiet'>by <%=link_to c.user.username, ''%> <%="at #{display_datetime(c.created_at)}" %></span>
      </div>
    </div>
  <% end %>
</p>